/* Color Pallete */
:root {
	--primary: #5c2dd5;
	--primary-light: #7945ff;
	--player-1: #fd6687;
	--player-2: #ffce67;
	--black: #000000;
	--white: #ffffff;
}

body {
	font-family: 'Space GroteskVariable', sans-serif;
	background-color: var(--primary-light) !important;
}

#root {
	height: 100%;
	overflow: hidden;
}

/* Typography */

.heading-l {
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 71px;
	letter-spacing: 0px;
}

.heading-m {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0px;
}

.heading-s {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0px;
}

.heading-xs {
	font-size: 1rem;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0px;
}

.body {
	font-size: 1rem;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
}
